@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #777;
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
